# LLM Prompts
PROMPT.md
PROMPT-*.md
PROMPT.MD
PROMPT-*.MD
PROMPT-*.transcripts/
*.transcripts/
artifact/

# Local Code Review
.vscode/local-reviews/

# Build Outputs
/target

# Profiling files
perf.data.old
perf.data
flamegraph.svg

# Code Coverage
cobertura.xml
tarpaulin-report.html
